.dark{
    background-color: #000000;
}

.panel{
    background-color:#f6c100;
}

.projecta-black{
    background-color:#000000;
    border-color: #f6c100;
}

.projecta-yellow{
    background-color:#f6c100;
    border-color: #000000
}

.projecta-black.btn:hover, .projecta-black.action:hover, .projecta-black.btn:focus, .projecta-black.action:focus {
    background-color: #fff !important;
}
.projecta-black.btn:hover, .projecta-black.action:hover, .projecta-black.btn:focus, .projecta-black.action:focus {
    color: #000000 !important;
}

.projecta-yellow.btn:hover, .projecta-yellow.action:hover, .projecta-yellow.btn:focus, .projecta-yellow.action:focus {
    background-color: #fff !important;
}
.projecta-yellow.btn:hover, .projecta-yellow.action:hover, .projecta-yellow.btn:focus, .projecta-yellow.action:focus {
    color: #000000 !important;
}

.gt-top-menu li:hover:not(.btn):not(.action):not(.tag), .gt-top-menu li.active:not(.btn):not(.action):not(.tag), .menu li:hover:not(.btn):not(.action):not(.tag), .menu li.active:not(.btn):not(.action):not(.tag) {
    border-color: #f6c100;
}

.field:focus, .gt-form input[type=text]:focus, .gt-form-inline input[type=text]:focus, .gt-form input[type=number]:focus, .gt-form-inline input[type=number]:focus, .gt-form input[type=password]:focus, .gt-form-inline input[type=password]:focus, .gt-form input[type=email]:focus, .gt-form-inline input[type=email]:focus, .gt-form select:focus, .gt-form-inline select:focus, .gt-form textarea:focus, .gt-form-inline textarea:focus, .has-focus.field, .gt-form input.has-focus[type=text], .gt-form-inline input.has-focus[type=text], .gt-form input.has-focus[type=number], .gt-form-inline input.has-focus[type=number], .gt-form input.has-focus[type=password], .gt-form-inline input.has-focus[type=password], .gt-form input.has-focus[type=email], .gt-form-inline input.has-focus[type=email], .gt-form select.has-focus, .gt-form-inline select.has-focus, .gt-form textarea.has-focus, .gt-form-inline textarea.has-focus {
    border-color: #f6c100;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
}
